{% extends "base.html" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/project_form.css') }}" />

{% endblock %}

{% block content %}

    <header>
        <nav style="background-color: #1d1919" class="navbar navbar-expand-lg navbar-dark mb-5">
            <a style="font-size: 30px" class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/site_logo.png') }}" width="70" height="70" alt="">
                PM
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a style="font-size: 20px;" class="nav-link" href="{{ url_for('home') }}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 20px;" class="nav-link" href="{{ url_for('add_skills') }}">
                            Create Skill
                        </a>
                    </li>
                </ul>
                {% if login_flag %}
                    <div class="form-inline my-2 my-lg-0">
                        <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('login') }}">
                            SignIn
                        </a>
                    </div>
                    <div class="form-inline my-2 my-lg-0 mr-4">
                        <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('register') }}">
                            SignUp
                        </a>
                    </div>
                {% else %}
                    <div class="form-inline my-2 my-lg-0">
                        <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('choose_skills') }}">
                            Add Skills
                        </a>
                    </div>
                    <div class="form-inline my-2 my-lg-0 mr-4">
                        <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('logout') }}">
                            Logout
                        </a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="container">
        <h2>Filter Skills</h2>
        <hr>
        <div class="row">
            <div class="input-group mb-3 col-5">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="skill_domain_form">Domain</label>
                </div>
                <select class="custom-select" name="skill_domain" onchange="fillSkills()" id="skill_domain_form" required>
                    <option selected>Select...</option>
                    <option value="Leadership">Leadership</option>
                    <option value="Business">Business</option>
                    <option value="Tech">Tech</option>
                </select>
            </div>
            <div class="input-group mb-3 col-5">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="skill_name_form">Skill &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </div>
                <select class="custom-select" name="skill_name" id="skill_name_form" required>
                    <option selected>Select...</option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-md btn-outline-success" onclick="addSkill()">Add</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1">
                <h5>Selected: </h5>
            </div>
            <div class="col-9 selected-badge">
                {% for skill in selected_skills %}
                    <span class="badge badge-pill badge-primary ml-1">{{ skill }}</span>
                {% endfor %}
            </div>
            <div class="col-2">
                <button class="btn btn-sm btn-outline-success" onclick="submitSkills()">Filter</button>
                <a class="btn btn-sm btn-outline-warning" href="{{ url_for('home') }}">Clear</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <table class="table table shadow bg-white rounded table-hover">
                <thead style="background-color: #e1e5ea;">
                    <tr class="py-3">
                        <th class="py-3" scope="col">#</th>
                        <th class="py-3 d-none d-lg-table-cell" scope="col">Username</th>
                        <th class="py-3 d-none d-lg-table-cell" scope="col">Full Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function fillSkills() {
            var all_skills = {{ all_skills|tojson }};
            var selected_domain = document.getElementById("skill_domain_form").value;
            document.getElementById("skill_name_form").innerHTML = "<option selected>Select...</option>";
            for (var i = 0; i < all_skills.length; i++) {
                if (all_skills[i].skill_domain == selected_domain) {
                    document.getElementById("skill_name_form").innerHTML += "<option value='" + all_skills[i].skill_name + "'>" + all_skills[i].skill_name + "</option>";
                }
            }
        }

        function addSkill() {
            var selected_skill = document.getElementById("skill_name_form").value;
            var skill = selected_skill;
            var badge = document.createElement("span");
            badge.setAttribute("class", "badge badge-pill badge-primary ml-1");
            badge.innerHTML = skill;
            document.getElementsByClassName("selected-badge")[0].appendChild(badge);
            fillSkills();
        }

        async function submitSkills() {
            var selected_skills = document.getElementsByClassName("selected-badge")[0].children;
            var skills = [];
            for (var i = 0; i < selected_skills.length; i++) {
                skills.push(selected_skills[i].innerHTML);
            }
            var skills_json = JSON.stringify(skills);
            fetch("/filter-skills", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: skills_json
            }).then(response =>
                response.json().then(data => ({
                    data: data,
                    status: response.status
                })
                ).then(res => {
                    document.getElementsByTagName("tbody")[0].innerHTML = "";
                    var skills = res.data.selected_skills;
                    var users = res.data.users;
                    for (var i = 0; i < users.length; i++) {
                        var user = users[i];
                        var row = document.createElement("tr");
                        var index = document.createElement("th");
                        index.setAttribute("scope", "row");
                        index.innerHTML = i + 1;
                        var username = document.createElement("td");
                        username.innerHTML = user.user_name;
                        var fullname = document.createElement("td");
                        fullname.innerHTML = user.full_name;
                        row.appendChild(index);
                        row.appendChild(username);
                        row.appendChild(fullname);
                        document.getElementsByTagName("tbody")[0].appendChild(row);
                    }
                    
                }));
            
        }
    </script>

{% endblock %}