{% extends "base.html" %}

{% block head %}
<title>Skills</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/project_form.css') }}" />

{% endblock %}

{% block content %}

<header>
    <nav style="background-color: #1d1919" class="navbar navbar-expand-lg navbar-dark mb-5">
        <a style="font-size: 30px" class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/site_logo.png') }}" width="70" height="70" alt="">
            PM
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a style="font-size: 20px;" class="nav-link" href="{{ url_for('home') }}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 20px;" class="nav-link" href="{{ url_for('add_skills') }}">
                        Create Skill
                    </a>
                </li>
                <li class="nav-item active">
                    <a style="font-size: 20px;" class="nav-link" href="{{ url_for('skills') }}">
                        Skills
                    </a>
                </li>
            </ul>
            {% if login_flag %}
            <div class="form-inline my-2 my-lg-0">
                <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('login') }}">
                    SignIn
                </a>
            </div>
            <div class="form-inline my-2 my-lg-0 mr-4">
                <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('register') }}">
                    SignUp
                </a>
            </div>
            {% else %}
            <div class="form-inline my-2 my-lg-0">
                <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('choose_skills') }}">
                    Add Skills
                </a>
            </div>
            <div class="form-inline my-2 my-lg-0 mr-4">
                <a style="font-size: 20px; color: grey;" class="nav-link" href="{{ url_for('logout') }}">
                    Logout
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
</header>

<main role="main" class="container mb-2">
    <section class="pt-2">
        <table class="table table shadow bg-white rounded table-hover">
            <thead style="background-color: #e1e5ea;">
                <tr class="py-3">
                    <th class="py-3" scope="col">#</th>
                    <th class="py-3 d-none d-lg-table-cell" scope="col">Skill Domain</th>
                    <th class="py-3 d-none d-lg-table-cell" scope="col">Skill Name</th>
                    <th class="py-3 d-none d-lg-table-cell" scope="col">Update</th>
                    <th class="py-3 d-none d-lg-table-cell" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                <tr class='clickable-row' style="cursor: default;">
                    <th class="py-3" scope="row">{{ loop.index }}</th>
                    <td class="pb-2 pt-3 d-none d-lg-table-cell">
                        {{ skill.skill_domain }}
                    </td>
                    <td class="pb-2 pt-3 d-none d-lg-table-cell">
                        {{ skill.skill_name }}
                    </td>
                    <td class="pb-2 pt-3 d-none d-lg-table-cell">
                        <a href="{{ url_for('update', skill_id=skill.id) }}"
                            class="btn btn-sm btn-outline-success">Update</a>
                    </td>
                    <td class="pb-2 pt-3 d-none d-lg-table-cell">
                        <a href="{{ url_for('delete', skill_id=skill.id) }}"
                            class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>


{% endblock %}