{% extends "base.html" %}

{% block head %}
<title>Update Project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/project_form.css') }}" />
{% endblock %}

{% block content %}

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left pt-lg-5 mt-lg-5">
            <i class="fa-solid fa-5x fa-diagram-project"></i>
            <br>
            <h3 style="padding-top: 30px;">Project Portal</h3>
            <p style="font-weight: 400;">Update the details for project "{{ project.project_name }}"</p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">
                        Update Project: {{ project.project_name }}
                    </h3>
                    <form method="POST" , enctype="multipart/form-data">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project name *</label>
                                    <input type="text" class="form-control" placeholder="Project Name *" value="{{ project.project_name }}"
                                        name="project_name" required />
                                </div>
                                <div class="form-group">
                                    <label>Project start date *</label>
                                    <input type="text" class="form-control" placeholder="Start Date *"
                                        value="{{ project.project_start_date }}"
                                        name="project_start_date" required onfocus="(this.type='date')"
                                        onblur="if(!this.value)this.type='text'" />
                                </div>
                                <div class="form-group">
                                    <label>Project end date *</label>
                                    <input type="text" class="form-control" placeholder="End Date *"
                                        value="{{ project.project_end_date }}"
                                        name="project_end_date" required onfocus="(this.type='date')"
                                        onblur="if(!this.value)this.type='text'" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Manager name *</label>
                                    <input type="text" class="form-control" placeholder="Project Manager Name *"
                                        value="{{ project.project_manager_name }}" name="project_manager_name" required />
                                </div>
                                <div class="form-group">
                                    <label>Manager email *</label>
                                    <input type="email" class="form-control" placeholder="Project Manager Email *"
                                        value="{{ project.project_manager_email }}"
                                        name="project_manager_email" required />
                                </div>
                                <div class="form-group">
                                    <label>Mailing List *</label>
                                    <textarea style="height: 100px" class="form-control"
                                        name="project_daily_report_email" placeholder="Enter emails seperated by comma"
                                        required>{{ project.project_daily_report_email }},
                                    </textarea>
                                </div>
                                <input type="submit" class="btnRegister" value="Update" />
                                <a href="{{ url_for('project_home') }}" style="text-align: center; text-decoration: none;" class="btnRegisterCancel">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}