{% extends "base.html" %}

{% block head %}
<title>Project Details</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/project_form.css') }}" />
{% endblock %}
    
{% block content %}


    <div class="container-sm text-center">
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert" style="background-color:#ffc06d; color:black;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}
    </div>


    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left pt-lg-5 mt-lg-5">
                <i class="fa-solid fa-5x fa-diagram-project"></i>
                <br>
                <h3 style="padding-top: 30px;">Project Portal</h3>
                <p style="font-weight: 400;">Please register your project here!</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">
                            Register Project
                        </h3>
                        <form method="POST" , enctype="multipart/form-data">
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Project Name *" value=""
                                            name="project_name" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Start Date *"
                                            name="project_start_date" required 
                                            onfocus="(this.type='date')" 
                                            onblur="if(!this.value)this.type='text'" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="End Date *" value=""
                                            name="project_end_date" required
                                            onfocus="(this.type='date')" 
                                            onblur="if(!this.value)this.type='text'"
                                             />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Project Manager Name *" 
                                        name="project_manager_name" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Project Manager Email *" 
                                        name="project_manager_email" required />
                                    </div>
                                    <div class="form-group files">
                                        <label for="email_list">Mailing List *</label>
                                        <textarea style="height: 100px" class="form-control" name="project_daily_report_email"
                                            placeholder="Enter emails seperated by comma" required></textarea>
                                    </div>
                                    <input type="submit" class="btnRegister" value="Register" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}