<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Status</title>
</head>
<body>
    <h3>Project Name: {{ project.project_name }}</h3>
    <p>
        <b>Project Manager: </b> {{ project.project_manager_name }} <br>
        <b>Project Status: </b> {{ project.project_status }} <br>
        <b>Project Risk: </b> {{ project.project_risk }} <br>
        <b>Project Highlight: </b> {{ project.project_highlights }} <br>
    </p>
    <p>
        Thanks and Regards
    </p>
</body>
</html>